In [1]:
import pandas as pd

In [101]:
mov = pd.read_csv("imdb-top-1000.csv")

In [102]:
df = pd.DataFrame(mov)

In [4]:
df.value_counts("Genre")

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
dtype: int64

We can replicate what value_counts() does by doing the following:

In [5]:
df.groupby("Genre").Genre.count()

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
Name: Genre, dtype: int64

In [6]:
df.head(3)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0

In [7]:
df.groupby("Genre").head(10)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Yôjinbô,2019,321,9.0,Zack Snyder,Yun-Fat Chow,2303232,936662225.0,98.0
Adventure,Zombieland,PG,228,8.6,Ömer Faruk Sorak,Yves Montand,1512360,874211619.0,100.0
Animation,Ôkami kodomo no Ame to Yuki,2020,137,8.6,Yoshifumi Kondô,Yôji Matsuda,999790,873839108.0,96.0
Biography,Zerkalo,2020,209,8.9,Tom McCarthy,Éric Toledano,1213505,753585104.0,97.0
Comedy,Zindagi Na Milegi Dobara,2020,188,8.6,Zoya Akhtar,Ömer Faruk Sorak,939631,886752933.0,99.0
Crime,À bout de souffle,2019,229,9.2,Yavuz Turgul,Vincent Cassel,1826188,790482117.0,100.0
Drama,Zwartboek,2020,242,9.3,Çagan Irmak,Çetin Tekindor,2343110,924558264.0,100.0
Family,Willy Wonka & the Chocolate Factory,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Nosferatu,1922,94,8.1,Robert Wiene,Werner Krauss,88794,445151978.0,NaN
Film-Noir,The Third Man,1949,108,8.1,John Huston,Teresa Wright,158731,123353292.0,97.0

In [34]:
v=df.groupby("Genre")
v
for Genre,Genre_df in v:
    print(Genre)
    print(Genre_df)

Action
                                          Series_Title Released_Year  Runtime  \
2                                      The Dark Knight          2008      152
5        The Lord of the Rings: The Return of the King          2003      201
8                                            Inception          2010      148
10   The Lord of the Rings: The Fellowship of the Ring          2001      178
13               The Lord of the Rings: The Two Towers          2002      179
..                                                 ...           ...      ...
968                                       Falling Down          1993      113
979                                      Lethal Weapon          1987      109
982                                          Mad Max 2          1981       96
983                                       The Warriors          1979       92
985                               Escape from Alcatraz          1979      112

      Genre  IMDB_Rating           Director              Star1  No_of_Votes  \
2    Action          9.0  Christopher Nolan     Christian Bale      2303232
5    Action          8.9      Peter Jackson        Elijah Wood      1642758
8    Action          8.8  Christopher Nolan  Leonardo DiCaprio      2067042
10   Action          8.8      Peter Jackson        Elijah Wood      1661481
13   Action          8.7      Peter Jackson        Elijah Wood      1485555
..      ...          ...                ...                ...          ...
968  Action          7.6    Joel Schumacher    Michael Douglas       171640
979  Action          7.6     Richard Donner         Mel Gibson       236894
982  Action          7.6      George Miller         Mel Gibson       166588
983  Action          7.6        Walter Hill       Michael Beck        93878
985  Action          7.6         Don Siegel     Clint Eastwood       121731

           Gross  Metascore
2    534858444.0       84.0
5    377845905.0       94.0
8    292576195.0       74.0
10   315544750.0       92.0
13   342551365.0       87.0
..           ...        ...
968   40903593.0       56.0
979   65207127.0       68.0
982   12465371.0       77.0
983   22490039.0       65.0
985   43000000.0       76.0

[172 rows x 10 columns]
Adventure
                       Series_Title Released_Year  Runtime      Genre  \
21                     Interstellar          2014      169  Adventure
47               Back to the Future          1985      116  Adventure
93             Inglourious Basterds          2009      153  Adventure
110                        Das Boot          1981      149  Adventure
114           2001: A Space Odyssey          1968      149  Adventure
..                              ...           ...      ...        ...
957  Fear and Loathing in Las Vegas          1998      118  Adventure
964                        Dead Man          1995      121  Adventure
966                       Apollo 13            PG      140  Adventure
984                The Muppet Movie          1979       95  Adventure
991                  Kelly's Heroes          1970      144  Adventure

     IMDB_Rating           Director                Star1  No_of_Votes  \
21           8.6  Christopher Nolan  Matthew McConaughey      1512360
47           8.5    Robert Zemeckis       Michael J. Fox      1058081
93           8.3  Quentin Tarantino            Brad Pitt      1267869
110          8.3  Wolfgang Petersen      Jürgen Prochnow       231855
114          8.3    Stanley Kubrick          Keir Dullea       603517
..           ...                ...                  ...          ...
957          7.6      Terry Gilliam          Johnny Depp       259753
964          7.6       Jim Jarmusch          Johnny Depp        90442
966          7.6         Ron Howard            Tom Hanks       269197
984          7.6      James Frawley           Jim Henson        32802
991          7.6    Brian G. Hutton       Clint Eastwood        45338

           Gross  Metascore
21   188020017.0       74.0
47   210609762.0       87.0
93   120540719.0       69.0
110   11487676.0       86.0
114   56954992.0       84.0
..           ...        ...
957   10680275.0       41.0
964    1037847.0       62.0
966  173837933.0       77.0
984   76657000.0       74.0
991    1378435.0       50.0

[72 rows x 10 columns]
Animation
                          Series_Title Released_Year  Runtime      Genre  \
23       Sen to Chihiro no kamikakushi          2001      125  Animation
43                       The Lion King          1994       88  Animation
46                      Hotaru no haka          1988       89  Animation
56                      Kimi no na wa.          2016      106  Animation
58   Spider-Man: Into the Spider-Verse          2018      117  Animation
..                                 ...           ...      ...        ...
956                              Mulan          1998       88  Animation
971                  Omohide poro poro          1991      118  Animation
976                 The Little Mermaid          1989       83  Animation
986                     Watership Down          1978       91  Animation
992                    The Jungle Book          1967       78  Animation

     IMDB_Rating             Director             Star1  No_of_Votes  \
23           8.6       Hayao Miyazaki     Daveigh Chase       651376
43           8.5         Roger Allers       Rob Minkoff       942045
46           8.5        Isao Takahata   Tsutomu Tatsumi       235231
56           8.4       Makoto Shinkai  Ryûnosuke Kamiki       194838
58           8.4      Bob Persichetti      Peter Ramsey       375110
..           ...                  ...               ...          ...
956          7.6        Tony Bancroft        Barry Cook       256906
971          7.6        Isao Takahata         Miki Imai        27071
976          7.6         Ron Clements       John Musker       237696
986          7.6         Martin Rosen       John Hubley        33656
992          7.6  Wolfgang Reitherman       Phil Harris       166409

           Gross  Metascore
23    10055859.0       96.0
43   422783777.0       88.0
46   150734678.0       94.0
56     5017246.0       79.0
58   190241310.0       87.0
..           ...        ...
956  120620254.0       71.0
971     453243.0       90.0
976  111543479.0       88.0
986  232841485.0       64.0
992  141843612.0       65.0

[82 rows x 10 columns]
Biography
          Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
7     Schindler's List          1993      195  Biography          8.9
15          Goodfellas          1990      146  Biography          8.7
18            Hamilton          2020      160  Biography          8.6
35    The Intouchables          2011      112  Biography          8.5
38         The Pianist          2002      150  Biography          8.5
..                 ...           ...      ...        ...          ...
923     La Vie En Rose          2007      140  Biography          7.6
940  Finding Neverland          2004      106  Biography          7.6
949               Blow          2001      124  Biography          7.6
952      The Hurricane          1999      146  Biography          7.6
987   Midnight Express          1978      121  Biography          7.6

             Director               Star1  No_of_Votes        Gross  Metascore
7    Steven Spielberg         Liam Neeson      1213505   96898818.0       94.0
15    Martin Scorsese      Robert De Niro      1020727   46836394.0       90.0
18        Thomas Kail  Lin-Manuel Miranda        55291  440984783.0       90.0
35    Olivier Nakache       Éric Toledano       760360   13182281.0       57.0
38     Roman Polanski        Adrien Brody       729603   32572577.0       85.0
..                ...                 ...          ...          ...        ...
923     Olivier Dahan    Marion Cotillard        82781   10301706.0       66.0
940      Marc Forster         Johnny Depp       198677   51680613.0       67.0
949         Ted Demme         Johnny Depp       240714   52990775.0       52.0
952    Norman Jewison   Denzel Washington        91557   50668906.0       74.0
987       Alan Parker          Brad Davis        73662   35000000.0       59.0

[88 rows x 10 columns]
Comedy
                                       Series_Title Released_Year  Runtime  \
19                                     Gisaengchung          2019      132
26                                  La vita è bella          1997      116
51                                     Modern Times          1936       87
52                                      City Lights          1931       87
64                                         3 Idiots          2009      170
..                                              ...           ...      ...
977  The Naked Gun: From the Files of Police Squad!          1988       85
978                    Planes, Trains & Automobiles          1987       93
989                                The Long Goodbye          1973      112
994                              A Hard Day's Night          1964       87
995                          Breakfast at Tiffany's          1961      115

      Genre  IMDB_Rating         Director            Star1  No_of_Votes  \
19   Comedy          8.6     Bong Joon Ho     Kang-ho Song       552778
26   Comedy          8.6  Roberto Benigni  Roberto Benigni       623629
51   Comedy          8.5  Charles Chaplin  Charles Chaplin       217881
52   Comedy          8.5  Charles Chaplin  Charles Chaplin       167839
64   Comedy          8.4  Rajkumar Hirani       Aamir Khan       344445
..      ...          ...              ...              ...          ...
977  Comedy          7.6     David Zucker   Leslie Nielsen       152871
978  Comedy          7.6      John Hughes     Steve Martin       124773
989  Comedy          7.6    Robert Altman    Elliott Gould        26337
994  Comedy          7.6   Richard Lester      John Lennon        40351
995  Comedy          7.6    Blake Edwards   Audrey Hepburn       166544

           Gross  Metascore
19    53367844.0       96.0
26    57598247.0       59.0
51      163245.0       96.0
52       19181.0       99.0
64     6532908.0       67.0
..           ...        ...
977   78756177.0       76.0
978   49530280.0       72.0
989     959000.0       87.0
994   13780024.0       96.0
995  679874270.0       76.0

[155 rows x 10 columns]
Crime
                Series_Title Released_Year  Runtime  Genre  IMDB_Rating  \
1              The Godfather          1972      175  Crime          9.2
3     The Godfather: Part II          1974      202  Crime          9.0
4               12 Angry Men          1957       96  Crime          9.0
6               Pulp Fiction          1994      154  Crime          8.9
22            Cidade de Deus          2002      130  Crime          8.6
..                       ...           ...      ...    ...          ...
958              Funny Games          1997      108  Crime          7.6
960                 Sleepers          1996      147  Crime          7.6
974  The Godfather: Part III          1990      162  Crime          7.6
980             Blood Simple          1984       99  Crime          7.6
999             The 39 Steps          1935       86  Crime          7.6

                 Director           Star1  No_of_Votes        Gross  Metascore
1    Francis Ford Coppola   Marlon Brando      1620367  134966411.0      100.0
3    Francis Ford Coppola       Al Pacino      1129952   57300000.0       90.0
4            Sidney Lumet     Henry Fonda       689845    4360000.0       96.0
6       Quentin Tarantino   John Travolta      1826188  107928762.0       94.0
22     Fernando Meirelles      Kátia Lund       699256    7563397.0       79.0
..                    ...             ...          ...          ...        ...
958        Michael Haneke  Susanne Lothar        65058  217345863.0       69.0
960        Barry Levinson  Robert De Niro       186734   49100000.0       49.0
974  Francis Ford Coppola       Al Pacino       359809   66666062.0       60.0
980             Joel Coen      Ethan Coen        87745    2150000.0       82.0
999      Alfred Hitchcock    Robert Donat        51853  302787539.0       93.0

[107 rows x 10 columns]
Drama
                        Series_Title Released_Year  Runtime  Genre  \
0           The Shawshank Redemption          1994      142  Drama
9                         Fight Club          1999      139  Drama
11                      Forrest Gump          1994      142  Drama
17   One Flew Over the Cuckoo's Nest          1975      133  Drama
20                   Soorarai Pottru          2020      153  Drama
..                               ...           ...      ...    ...
990                     Giù la testa          1971      157  Drama
993                           Blowup          1966      111  Drama
996                            Giant          1956      201  Drama
997            From Here to Eternity          1953      118  Drama
998                         Lifeboat          1944       97  Drama

     IMDB_Rating                Director              Star1  No_of_Votes  \
0            9.3          Frank Darabont        Tim Robbins      2343110
9            8.8           David Fincher          Brad Pitt      1854740
11           8.8         Robert Zemeckis          Tom Hanks      1809221
17           8.7            Milos Forman     Jack Nicholson       918088
20           8.6           Sudha Kongara             Suriya        54995
..           ...                     ...                ...          ...
990          7.6            Sergio Leone        Rod Steiger        30144
993          7.6  Michelangelo Antonioni     David Hemmings        56513
996          7.6          George Stevens   Elizabeth Taylor        34075
997          7.6          Fred Zinnemann     Burt Lancaster        43374
998          7.6        Alfred Hitchcock  Tallulah Bankhead        26471

           Gross  Metascore
0     28341469.0       80.0
9     37030102.0       66.0
11   330252182.0       82.0
17   112000000.0       83.0
20   556832648.0        NaN
..           ...        ...
990     696690.0       77.0
993  632532802.0       82.0
996  195217415.0       84.0
997   30500000.0       85.0
998  852142728.0       78.0

[289 rows x 10 columns]
Family
                            Series_Title Released_Year  Runtime   Genre  \
688           E.T. the Extra-Terrestrial          1982      115  Family
698  Willy Wonka & the Chocolate Factory          1971      100  Family

     IMDB_Rating          Director         Star1  No_of_Votes        Gross  \
688          7.8  Steven Spielberg  Henry Thomas       372490  435110554.0
698          7.8        Mel Stuart   Gene Wilder       178731    4000000.0

     Metascore
688       91.0
698       67.0
Fantasy
                     Series_Title Released_Year  Runtime    Genre  \
321  Das Cabinet des Dr. Caligari          1920       76  Fantasy
568                     Nosferatu          1922       94  Fantasy

     IMDB_Rating      Director          Star1  No_of_Votes        Gross  \
321          8.1  Robert Wiene  Werner Krauss        57428  337574718.0
568          7.9   F.W. Murnau    Max Schreck        88794  445151978.0

     Metascore
321        NaN
568        NaN
Film-Noir
           Series_Title Released_Year  Runtime      Genre  IMDB_Rating  \
309       The Third Man          1949      104  Film-Noir          8.1
456  The Maltese Falcon          1941      100  Film-Noir          8.0
712   Shadow of a Doubt          1943      108  Film-Noir          7.8

             Director            Star1  No_of_Votes        Gross  Metascore
309        Carol Reed     Orson Welles       158731     449191.0       97.0
456       John Huston  Humphrey Bogart       148928    2108060.0       96.0
712  Alfred Hitchcock    Teresa Wright        59556  123353292.0       94.0
Horror
                 Series_Title Released_Year  Runtime   Genre  IMDB_Rating  \
49                     Psycho          1960      109  Horror          8.5
75                      Alien          1979      117  Horror          8.4
271                 The Thing          1982      109  Horror          8.1
419              The Exorcist          1973      122  Horror          8.0
544  Night of the Living Dead          1968       96  Horror          7.9
707             The Innocents          1961      100  Horror          7.8
724                   Get Out          2017      104  Horror          7.7
844                 Halloween          1978       91  Horror          7.7
876         The Invisible Man          1933       71  Horror          7.7
932                       Saw          2004      103  Horror          7.6
948                The Others          2001      101  Horror          7.6

               Director             Star1  No_of_Votes        Gross  Metascore
49     Alfred Hitchcock   Anthony Perkins       604211   32000000.0       97.0
75         Ridley Scott  Sigourney Weaver       787806   78900000.0       89.0
271      John Carpenter      Kurt Russell       371271   13782838.0       57.0
419    William Friedkin     Ellen Burstyn       362393  232906145.0       81.0
544    George A. Romero       Duane Jones       116557      89029.0       89.0
707        Jack Clayton      Deborah Kerr        27007    2616000.0       88.0
724        Jordan Peele    Daniel Kaluuya       492851  176040665.0       85.0
844      John Carpenter  Donald Pleasence       233106   47000000.0       87.0
876         James Whale      Claude Rains        30683  298791505.0       87.0
932           James Wan        Cary Elwes       379020   56000369.0       46.0
948  Alejandro Amenábar     Nicole Kidman       337651   96522687.0       74.0
Mystery
          Series_Title Released_Year  Runtime    Genre  IMDB_Rating  \
69             Memento          2000      113  Mystery          8.4
81         Rear Window          1954      112  Mystery          8.4
119            Vertigo          1958      128  Mystery          8.3
145     Shutter Island          2010      138  Mystery          8.2
220            Kahaani          2012      122  Mystery          8.1
393     Twelve Monkeys          1995      129  Mystery          8.0
420             Sleuth          1972      138  Mystery          8.0
714  The Lady Vanishes          1938       96  Mystery          7.8
829          Spoorloos          1988      107  Mystery          7.7
899          El cuerpo          2012      112  Mystery          7.6
959          Dark City          1998      100  Mystery          7.6
961       Lost Highway          1997      134  Mystery          7.6

                 Director                     Star1  No_of_Votes        Gross  \
69      Christopher Nolan                Guy Pearce      1125712   25544867.0
81       Alfred Hitchcock             James Stewart       444074   36764313.0
119      Alfred Hitchcock             James Stewart       364368    3200000.0
145       Martin Scorsese         Leonardo DiCaprio      1129894  128012934.0
220           Sujoy Ghosh               Vidya Balan        57806    1035953.0
393         Terry Gilliam              Bruce Willis       578443   57141459.0
420  Joseph L. Mankiewicz          Laurence Olivier        44748    4081254.0
714      Alfred Hitchcock         Margaret Lockwood        47400  474203697.0
829        George Sluizer  Bernard-Pierre Donnadieu        33982  367916835.0
899           Oriol Paulo             Jose Coronado        57549  140340673.0
959           Alex Proyas              Rufus Sewell       187927   14378331.0
961           David Lynch              Bill Pullman       131101    3796699.0

     Metascore
69        80.0
81       100.0
119      100.0
145       63.0
220        NaN
393       74.0
420        NaN
714       98.0
829        NaN
899        NaN
959       66.0
961       52.0
Thriller
        Series_Title Released_Year  Runtime     Genre  IMDB_Rating  \
700  Wait Until Dark          1967      108  Thriller          7.8

          Director           Star1  No_of_Votes       Gross  Metascore

In [33]:
v.get_group("Comedy")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
51,Modern Times,1936,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,217881,163245.0,96.0
52,City Lights,1931,87,Comedy,8.5,Charles Chaplin,Charles Chaplin,167839,19181.0,99.0
64,3 Idiots,2009,170,Comedy,8.4,Rajkumar Hirani,Aamir Khan,344445,6532908.0,67.0
...,...,...,...,...,...,...,...,...,...,...
977,The Naked Gun: From the Files of Police Squad!,1988,85,Comedy,7.6,David Zucker,Leslie Nielsen,152871,78756177.0,76.0
978,"Planes, Trains & Automobiles",1987,93,Comedy,7.6,John Hughes,Steve Martin,124773,49530280.0,72.0
989,The Long Goodbye,1973,112,Comedy,7.6,Robert Altman,Elliott Gould,26337,959000.0,87.0
994,A Hard Day's Night,1964,87,Comedy,7.6,Richard Lester,John Lennon,40351,13780024.0,96.0
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0

In [59]:
df.groupby("Genre")[["IMDB_Rating","Series_Title"]].max()

           IMDB_Rating                         Series_Title
Genre
Action             9.0                              Yôjinbô
Adventure          8.6                           Zombieland
Animation          8.6          Ôkami kodomo no Ame to Yuki
Biography          8.9                              Zerkalo
Comedy             8.6             Zindagi Na Milegi Dobara
Crime              9.2                    À bout de souffle
Drama              9.3                            Zwartboek
Family             7.8  Willy Wonka & the Chocolate Factory
Fantasy            8.1                            Nosferatu
Film-Noir          8.1                        The Third Man
Horror             8.5                            The Thing
Mystery            8.4                              Vertigo
Thriller           7.8                      Wait Until Dark
Western            8.8               The Outlaw Josey Wales

In [66]:
df.groupby('Genre').apply(lambda df: df.Series_Title.iloc[0])

Genre
Action                       The Dark Knight
Adventure                       Interstellar
Animation      Sen to Chihiro no kamikakushi
Biography                   Schindler's List
Comedy                          Gisaengchung
Crime                          The Godfather
Drama               The Shawshank Redemption
Family            E.T. the Extra-Terrestrial
Fantasy         Das Cabinet des Dr. Caligari
Film-Noir                      The Third Man
Horror                                Psycho
Mystery                              Memento
Thriller                     Wait Until Dark
Western      Il buono, il brutto, il cattivo
dtype: object

In [67]:
df.groupby(['Genre','Released_Year']).apply(lambda df: df.Series_Title.iloc[0])

Genre     Released_Year
Action    1924                                  Sherlock Jr.
          1926                                   The General
          1932             Scarface: The Shame of the Nation
          1938                  The Adventures of Robin Hood
          1948                                     Red River
                                         ...
Thriller  1967                               Wait Until Dark
Western   1965                    Per qualche dollaro in più
          1966               Il buono, il brutto, il cattivo
          1968                  Once Upon a Time in the West
          1976                        The Outlaw Josey Wales
Length: 434, dtype: object

In [90]:
df.groupby(['Genre']).apply(lambda df: df.loc[df.IMDB_Rating.idxmax()])

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [87]:
# Gross.idxmax() will return index with highest gross
df.loc[df.Gross.idxmax()]

Series_Title     Star Wars: Episode VII - The Force Awakens
Released_Year                                          2015
Runtime                                                 138
Genre                                                Action
IMDB_Rating                                             7.9
Director                                        J.J. Abrams
Star1                                          Daisy Ridley
No_of_Votes                                          860823
Gross                                           9.36662e+08
Metascore                                                80
Name: 477, dtype: object

In [98]:
v=df.groupby("Released_Year")
v.get_group("2015")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
133,Talvar,2015,132,Crime,8.2,Meghna Gulzar,Irrfan Khan,31142,342370.0,NaN
136,Drishyam,2015,163,Crime,8.2,Nishikant Kamat,Ajay Devgn,70367,739478.0,NaN
203,Room,2015,118,Drama,8.1,Lenny Abrahamson,Brie Larson,371538,14677674.0,86.0
213,Inside Out,2015,95,Animation,8.1,Pete Docter,Ronnie Del Carmen,616228,356461711.0,94.0
218,Spotlight,2015,129,Biography,8.1,Tom McCarthy,Mark Ruffalo,420316,45055776.0,93.0
223,Mad Max: Fury Road,2015,120,Action,8.1,George Miller,Tom Hardy,882316,154058340.0,90.0
325,Bajrangi Bhaijaan,2015,163,Action,8.0,Kabir Khan,Salman Khan,72245,8178001.0,NaN
326,Baby,2015,159,Action,8.0,Neeraj Pandey,Akshay Kumar,52848,223025817.0,NaN
329,The Martian,2015,144,Adventure,8.0,Ridley Scott,Matt Damon,760094,228433663.0,80.0
331,Bãhubali: The Beginning,2015,159,Action,8.0,S.S. Rajamouli,Prabhas,102972,6738000.0,NaN
343,The Revenant,2015,156,Action,8.0,Alejandro G. Iñárritu,Leonardo DiCaprio,705589,183637894.0,76.0
477,Star Wars: Episode VII - The Force Awakens,2015,138,Action,7.9,J.J. Abrams,Daisy Ridley,860823,936662225.0,80.0
581,Under sandet,2015,100,Drama,7.8,Martin Zandvliet,Roland Møller,35539,435266.0,75.0
584,The Hateful Eight,2015,168,Crime,7.8,Quentin Tarantino,Samuel L. Jackson,517059,54117416.0,68.0
600,The Big Short,2015,130,Biography,7.8,Adam McKay,Christian Bale,362942,70259870.0,81.0
606,Straight Outta Compton,2015,147,Biography,7.8,F. Gary Gray,O'Shea Jackson Jr.,179264,161197785.0,72.0
726,En man som heter Ove,2015,116,Comedy,7.7,Hannes Holm,Rolf Lassgård,47444,3358518.0,70.0
732,Me and Earl and the Dying Girl,2015,105,Comedy,7.7,Alfonso Gomez-Rejon,Thomas Mann,123210,6743776.0,74.0
741,Le Petit Prince,2015,108,Animation,7.7,Mark Osborne,Jeff Bridges,56720,1339152.0,70.0
747,Beasts of No Nation,2015,137,Drama,7.7,Cary Joji Fukunaga,Abraham Attah,73964,83861.0,79.0
885,Victoria,2015,138,Crime,7.6,Sebastian Schipper,Laia Costa,52903,718096942.0,77.0
886,Mustang,2015,97,Drama,7.6,Deniz Gamze Ergüven,Günes Sensoy,35785,845464.0,83.0
890,Bridge of Spies,2015,142,Drama,7.6,Steven Spielberg,Tom Hanks,287659,72313754.0,81.0
893,Sicario,2015,121,Action,7.6,Denis Villeneuve,Emily Blunt,371291,46889293.0,82.0
894,Creed,2015,133,Drama,7.6,Ryan Coogler,Michael B. Jordan,247666,109767581.0,82.0

In [103]:
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [105]:
# To apply multiple function
df.groupby("Released_Year").Gross.agg([len,max,min])

                len          max          min
Released_Year
1920            1.0  337574718.0  337574718.0
1921            1.0    5450000.0    5450000.0
1922            1.0  445151978.0  445151978.0
1924            1.0     977375.0     977375.0
1925            2.0    5450000.0      50970.0
...             ...          ...          ...
2017           22.0  679278040.0     335609.0
2018           19.0  896910257.0    1373943.0
2019           23.0  874211619.0     349555.0
2020            6.0  853090410.0  228629261.0
PG              1.0  173837933.0  173837933.0

[100 rows x 3 columns]

In [120]:
df.groupby(["Genre"]).Gross.agg([min,max,len])

                   min          max    len
Genre
Action          3296.0  936662225.0  172.0
Adventure      61001.0  874211619.0   72.0
Animation     128985.0  873839108.0   82.0
Biography      21877.0  753585104.0   88.0
Comedy          1305.0  886752933.0  155.0
Crime           6013.0  790482117.0  107.0
Drama           3600.0  924558264.0  289.0
Family       4000000.0  435110554.0    2.0
Fantasy    337574718.0  445151978.0    2.0
Film-Noir     449191.0  123353292.0    3.0
Horror         89029.0  298791505.0   11.0
Mystery      1035953.0  474203697.0   12.0
Thriller    17550741.0   17550741.0    1.0
Western      5321508.0   31800000.0    4.0

In [125]:
df.groupby(["Genre","IMDB_Rating"]).agg([min,max,len])

                                         Series_Title  \
                                                  min
Genre    IMDB_Rating
Action   7.6                                      300
         7.7                             3:10 to Yuma
         7.8                                  Ajeossi
         7.9                 Aguirre, der Zorn Gottes
         8.0                                     Baby
...                                               ...
Thriller 7.8                          Wait Until Dark
Western  7.8                   The Outlaw Josey Wales
         8.3               Per qualche dollaro in più
         8.5             Once Upon a Time in the West
         8.8          Il buono, il brutto, il cattivo

                                                          Released_Year        \
                                                  max len           min   max
Genre    IMDB_Rating
Action   7.6                                 Watchmen  25          1979  2017
         7.7                           X: First Class  26          1960  2018
         7.8                          Wo hu cang long  32          1932  2019
         7.9                               Ying xiong  15          1938  2017
         8.0                                  Yip Man  22          1959  2017
...                                               ...  ..           ...   ...
Thriller 7.8                          Wait Until Dark   1          1967  1967
Western  7.8                   The Outlaw Josey Wales   1          1976  1976
         8.3               Per qualche dollaro in più   1          1965  1965
         8.5             Once Upon a Time in the West   1          1968  1968
         8.8          Il buono, il brutto, il cattivo   1          1966  1966

                         Runtime                        Director  ... Star1  \
                     len     min  max len                    min  ...   len
Genre    IMDB_Rating                                              ...
Action   7.6          25      92  162  25          Andrew Niccol  ...    25
         7.7          26      93  158  26          Anthony Russo  ...    26
         7.8          32      84  178  32       Abhishek Chaubey  ...    32
         7.9          15      95  145  15           Bryan Singer  ...    15
         8.0          22      87  164  22  Alejandro G. Iñárritu  ...    22
...                   ..     ...  ...  ..                    ...  ...   ...
Thriller 7.8           1     108  108   1          Terence Young  ...     1
Western  7.8           1     135  135   1         Clint Eastwood  ...     1
         8.3           1     132  132   1           Sergio Leone  ...     1
         8.5           1     165  165   1           Sergio Leone  ...     1
         8.8           1     161  161   1           Sergio Leone  ...     1

                     No_of_Votes                    Gross                     \
                             min      max len         min          max   len
Genre    IMDB_Rating
Action   7.6               58371   732876  25   4105123.0  389813101.0  25.0
         7.7               26729   736182  26   4905000.0  856773674.0  26.0
         7.8               25312  1118998  32      6460.0  909838190.0  32.0
         7.9               47175   939644  15   3981000.0  936662225.0  15.0
         8.0               27721  1260806  22      3296.0  623279547.0  22.0
...                          ...      ...  ..         ...          ...   ...
Thriller 7.8               27733    27733   1  17550741.0   17550741.0   1.0
Western  7.8               65659    65659   1  31800000.0   31800000.0   1.0
         8.3              232772   232772   1  15000000.0   15000000.0   1.0
         8.5              302844   302844   1   5321508.0    5321508.0   1.0
         8.8              688390   688390   1   6100000.0    6100000.0   1.0

                     Metascore
                           min   max   len
Genre    IMDB_Rating
Action   7.6              52.0  88.0  25.0
         7.7              47.0  94.0  26.0
         7.8              44.0  94.0  32.0
         7.9              60.0  97.0  15.0
         8.0              33.0  93.0  22.0
...                        ...   ...   ...
Thriller 7.8              81.0  81.0   1.0
Western  7.8              69.0  69.0   1.0
         8.3              74.0  74.0   1.0
         8.5              80.0  80.0   1.0
         8.8              90.0  90.0   1.0

[115 rows x 24 columns]

In [146]:
v=df.groupby(["Genre","IMDB_Rating"]).Gross.agg([min,max,len])
mi = v.index
type(mi)

pandas.core.indexes.multi.MultiIndex

In [151]:
v.reset_index()

     level_0  index     Genre  IMDB_Rating         min          max   len
0          0      0    Action          7.6   4105123.0  389813101.0  25.0
1          1      1    Action          7.7   4905000.0  856773674.0  26.0
2          2      2    Action          7.8      6460.0  909838190.0  32.0
3          3      3    Action          7.9   3981000.0  936662225.0  15.0
4          4      4    Action          8.0      3296.0  623279547.0  22.0
..       ...    ...       ...          ...         ...          ...   ...
110      110    110  Thriller          7.8  17550741.0   17550741.0   1.0
111      111    111   Western          7.8  31800000.0   31800000.0   1.0
112      112    112   Western          8.3  15000000.0   15000000.0   1.0
113      113    113   Western          8.5   5321508.0    5321508.0   1.0
114      114    114   Western          8.8   6100000.0    6100000.0   1.0

[115 rows x 7 columns]

## Sorting

In [149]:
# dorting works on only grouped by one parameter
v=v.reset_index()
v.sort_values(by="len")

     index      Genre  IMDB_Rating          min          max   len
114    114    Western          8.8    6100000.0    6100000.0   1.0
23      23  Adventure          8.5  210609762.0  210609762.0   1.0
24      24  Adventure          8.6  188020017.0  188020017.0   1.0
92      92  Film-Noir          8.0    2108060.0    2108060.0   1.0
91      91  Film-Noir          7.8  123353292.0  123353292.0   1.0
..     ...        ...          ...          ...          ...   ...
50      50     Comedy          7.7    1544889.0  745173387.0  35.0
76      76      Drama          7.8       3600.0  853090410.0  39.0
75      75      Drama          7.7      26331.0  895071115.0  43.0
78      78      Drama          8.0      10950.0  839059631.0  45.0
79      79      Drama          8.1      55908.0  683407829.0  46.0

[115 rows x 6 columns]

In [154]:
v.sort_index()

     index     Genre  IMDB_Rating         min          max   len
0        0    Action          7.6   4105123.0  389813101.0  25.0
1        1    Action          7.7   4905000.0  856773674.0  26.0
2        2    Action          7.8      6460.0  909838190.0  32.0
3        3    Action          7.9   3981000.0  936662225.0  15.0
4        4    Action          8.0      3296.0  623279547.0  22.0
..     ...       ...          ...         ...          ...   ...
110    110  Thriller          7.8  17550741.0   17550741.0   1.0
111    111   Western          7.8  31800000.0   31800000.0   1.0
112    112   Western          8.3  15000000.0   15000000.0   1.0
113    113   Western          8.5   5321508.0    5321508.0   1.0
114    114   Western          8.8   6100000.0    6100000.0   1.0

[115 rows x 6 columns]

In [156]:
v.sort_values(by=["IMDB_Rating","len"],ascending = False)

     index      Genre  IMDB_Rating          min          max   len
87      87      Drama          9.3   28341469.0   28341469.0   1.0
73      73      Crime          9.2  134966411.0  134966411.0   1.0
72      72      Crime          9.0    4360000.0   57300000.0   2.0
14      14     Action          9.0  534858444.0  534858444.0   1.0
13      13     Action          8.9  377845905.0  377845905.0   1.0
..     ...        ...          ...          ...          ...   ...
25      25  Animation          7.6     453243.0  608581744.0  10.0
36      36  Biography          7.6   10301706.0  428167124.0  10.0
15      15  Adventure          7.6    1037847.0  317575550.0   9.0
102    102    Mystery          7.6    3796699.0  140340673.0   3.0
94      94     Horror          7.6   56000369.0   96522687.0   2.0

[115 rows x 6 columns]